flow.json
[{"id":"2d48e35.3fdbc1c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"11003172.942a4f","type":"chatbot-context-store","z":"","name":"Memory","contextStorage":"memory","contextParams":"{}"},{"id":"91ddc775.dbe708","type":"chatbot-msteams-node","z":"","botname":"MSTeams Dev","usernames":"","appId":"","appPassword":"","store":"","log":"","debug":false},{"id":"d78de933.e48d68","type":"chatbot-msteams-receive","z":"2d48e35.3fdbc1c","bot":"91ddc775.dbe708","botProduction":"","x":150,"y":280,"wires":[["f9037fa2.274c5","53a8e121.d0b6c"]]},{"id":"1976a7ef.5d91e8","type":"chatbot-msteams-send","z":"2d48e35.3fdbc1c","bot":"91ddc775.dbe708","botProduction":"","track":false,"passThrough":false,"outputs":0,"x":930,"y":280,"wires":[]},{"id":"437465b0.4726cc","type":"chatbot-message","z":"2d48e35.3fdbc1c","name":"","message":[{"message":"Test MS Teams Hello World!"},{"message":"Another hello world"},{"message":"Third hello world!"}],"answer":false,"silent":false,"x":530,"y":220,"wires":[["1976a7ef.5d91e8"]]},{"id":"f9037fa2.274c5","type":"chatbot-debug","z":"2d48e35.3fdbc1c","x":460,"y":60,"wires":[]},{"id":"97d510e4.8c85e","type":"chatbot-inline-buttons","z":"2d48e35.3fdbc1c","name":"","buttons":[{"type":"postback","label":"Postback button","value":"postback_value","answer":"","alert":false,"style":""},{"type":"url","label":"Open Site","url":"http://www.google.com","webViewHeightRatio":"tall","extensions":false,"answer":"","alert":false}],"message":"Barabba","x":540,"y":340,"wires":[["1976a7ef.5d91e8"]]},{"id":"53a8e121.d0b6c","type":"chatbot-image","z":"2d48e35.3fdbc1c","name":"Random image","filename":"","image":"https://picsum.photos/200/300","caption":"","x":560,"y":280,"wires":[["1976a7ef.5d91e8"]]},{"id":"469cc215.df0b3c","type":"inject","z":"2d48e35.3fdbc1c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":500,"wires":[["56722bf2.6bc7d4"]]},{"id":"56722bf2.6bc7d4","type":"chatbot-support-table","z":"2d48e35.3fdbc1c","x":300,"y":500,"wires":[]}]